services:
  app:
    image: ghcr.io/excoffierleonard/restic:latest
    restart: unless-stopped
    build:
      context: .
    environment:
      RESTIC_REPOSITORY: ${RESTIC_REPOSITORY}
      RESTIC_PASSWORD: ${RESTIC_PASSWORD}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    volumes:
      - ./folder1:/app/backup/folder1:ro
      - ./folder2:/app/backup/folder2:ro